<template>
    <div>
        <b-modal id="modalPrevent"
                 ref="modal"
                 title="Add a task"
                 @ok="handleOk"
                 @shown="clearName">

            <form @submit.stop.prevent="handleSubmit">
                <b-form-input type="text"
                              placeholder="Enter a title for task"
                              v-model="task.title">
                </b-form-input>
                <hr>
                <div>
                    <b-form-select v-model="task.type_id" class="mb-3">
                        <option v-for="type in types" :value="type.id" >{{ type.name }}</option>
                    </b-form-select>
                </div>
                <br>
                <div>
                    <b-form-select v-model="task.priority_id" class="mb-3">
                        <option v-for="priority in priorities" :value="priority.id" >{{ priority.name }}</option>
                    </b-form-select>
                </div>
                <div>
                    <date-picker v-model="task.due_date" :config="config"></date-picker>
                </div>
            </form>
        </b-modal>
    </div>
</template>

<script>
    // import datepicker css
    import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

    export default {
        props: ['showModal'],
        data () {
            return {
                task: {
                    title: '',
                    type_id: 1,
                    priority_id: 1,
                    status_id: 1,
                    due_date: null,
                    user_id: 0
                },
                config: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                },
                priorities: [],
                types: []
            }
        },
        created() {
          this.getTypes()
          this.getPriorities()
          this.task.user_id =  this.$auth.getAuthenticatedUser()
        },
        watch: {
            showModal: function () {
                this.$refs.modal.show()
             }
        },
        computed: {
            user_id: function () {

             }
        },
        methods: {
            // clears field title after form submission
            clearName () {
                this.task.title = ''
            },
            handleOk (evt) {
                // Prevent modal from closing
                evt.preventDefault()
                if (!this.task.title) {
                    alert('Please title for the task')
                } else {
                    this.handleSubmit()
                }
            },
            handleSubmit () {
                this.addTask()
                this.clearName()
                this.$refs.modal.hide()
            },
            // get list of priorities
            getPriorities() {
                this.$http.get("api/priorities")
                    .then(function (response) {
                        this.priorities = response.body
                    });
            },
            // get list of types
            getTypes() {
                this.$http.get("api/types")
                    .then(function (response) {
                        this.types = response.body
                    })
            },
            // adds task to db
            addTask() {
                this.$http.post('api/tasks', this.task)
                    .then(function (response) {
                        console.log(response)
                        if(response.body == 1) {
                            alert("Successfully added");
                        } else {
                            alert("Error occurred");
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            }

        }
    }
</script>

<style scoped></style>