<template>
    <div id="body">
        <app-header></app-header>
        <div class="container">
            <div class="row">
                <app-side-bar></app-side-bar>
                <app-tasks-screen></app-tasks-screen>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from './design/Header'
    import SideBar from "./design/Sidebar"
    import TasksScreen from "./TasksScreen"

    export default {
        name: "Home",
        data() {
            return {
                // tasks: [],
            }
        },
        // created() {
        //     this.getTasks();
        //
        // },
        components: {
            appHeader: Header,
            appSideBar: SideBar,
            appTasksScreen: TasksScreen
        },
        // methods: {
        //     getTasks() {
        //         this.$http.get('api/tasks')
        //             .then(function (response) {
        //                 this.tasks = response.body;
        //                 console.log(response.body);
        //             });
        //     }
        // }
    }
</script>

<style scoped>
    #body {
        background:#FAFAFA;
    }


</style>