<template>
    <div class="col-md-7">
        <div class="row" v-for="(task, index) in tasks" v-show="task.completed == 0 && task.status_id == 1 && search(task.title) > 0">
            <div class="col-md-1">
                <span @click="completeTask(task.id, index)" class="fa fa-check"></span>
            </div>
            <div class="col-md-10">
                <p> {{ task.title }} </p>
            </div>
            <div class="col-md-1">
                <span @click="deleteTask(task.id, index)" class="fa fa-trash"></span>
            </div>
        </div>
    </div>
    
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        name: "TasksScreen",
        data () {
            return {
                tasks: [],
                search_text: ''
            }
        },
        created () {
            EventBus.$on('gotTasksByType', (tasks) => {
                this.tasks = tasks
                if (this.tasks.length < 1){
                    alert("There is nothing to do in this section")
                }
            });

            EventBus.$on('searchTextChanged', (search_text) => {
                this.search_text = search_text
            });
        },
        methods: {
            completeTask(id, index) {
                this.$http.get('api/tasks/'+ id +'/edit')
                    .then(function (response) {
                        if (response.body == 1){
                            this.tasks.splice(index, 1);
                            alert("Completed");
                        } else {
                            alert("Error occurred");
                        }
                    });
            },
            deleteTask(id, index) {
                this.$http.get('api/trashTask/'+ id)
                    .then(function (response) {
                        if (response.body == 1){
                            this.tasks.splice(index, 1);
                            alert("Deleted");

                        } else {
                            alert("Error occurred");
                        }
                    });
            },
            // custom filter
            search(title) {
                if (title.toLowerCase().includes(this.search_text.toLowerCase()))
                    return title.length;
            }
        }
    }
</script>

<style scoped>
    div {
        background: antiquewhite;
        margin-top: 1%;
    }

    .round {
        position: relative;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
    }

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
    }


    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        background-color: #f1f2f3;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .container {
        margin: 0 auto;
    }

    hr {
        margin: 0.2em;
    }
    .fa-trash {
        color: #FE6464;
        cursor: pointer;
    }

    .fa-check {
        color: #66bb6a;
        cursor: pointer;
    }

    .fa-check:hover {
        color: #335D35;
        cursor: pointer;
    }

</style>