<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Todo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-5 mt-2 mt-lg-0">
                <li class="nav-item active">
                    <form class="form-inline">
                        <input id="search-bar" class="form-control mr-sm-2" type="search" placeholder="Search" v-model="search_text">
                        <button id="add" @click="openModal" class="btn btn-primary my-2 my-sm-0">+</button>
                    </form>
                </li>
            </ul>
            <button class="btn btn-primary  pull-right" @click="logout">Log out</button>
        </div>
        <app-add-task-modal :showModal="showModal"></app-add-task-modal>
    </nav>
</template>

<script>
    import AddTaskModal from "../modal/AddTaskModal"
    import { EventBus } from '../../event-bus.js';

    export default {
        name: "Header",
        data() {
            return {
                search_text: '',   // text entered by user to search
                showModal: 0
            };
        },
        created () {
              //this.isAuth = this.$auth.isAuthenticated()
        },
        watch: {
            search_text: function () {
                EventBus.$emit('searchTextChanged', this.search_text)
            }
        },
        methods: {
            logout() {
                this.$auth.destroyToken()
                this.$auth.destroyUserAuth()
                this.$router.push('/login')    // return back to login page
            },
            openModal() {
                this.showModal++;
            }
        },
        components: {
            appAddTaskModal: AddTaskModal
        }
    }
</script>

<style scoped>

    #search-bar {
        width: 60%;
    }
    #add {
        margin-left: 15px;
        font-size: 16px;
    }
    #navbarTogglerDemo02 {
        width: 100%;
        margin-left: 15%;
    }

    #navbarTogglerDemo02 ul {
        width: 100%;
    }

    #navbarTogglerDemo02 ul li {
        width: 100%;
    }
</style>