<template>
    <div class="col-md-3">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div id="sidebar-wrapper" class="sidebar-toggle">
                    <ul class="sidebar-nav">
                        <li>
                            <a @click="typeClicked(type.id)" v-for="type in types">{{ type.name}}</a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';

    export default {
        name: "Sidebar",
        data() {
            return {
                types: [],    // list of types (Shopping, Family...)
                tasks: []     // list of tasks
            }
        },
        created() {
            this.getTypes();
            this.getTasksByType(1) // by default load shopping tasks
        },
        methods: {
            // invoked when user click type on sidebar
            typeClicked(id) {
                this.getTasksByType(id)
            },
            getTypes() {
                this.$http.get('api/types')
                    .then(function (response) {
                        this.types = response.body;
                        console.log(response.body);
                    });
            },
            // loads tasks by type id
            getTasksByType(typeID) {
                console.log(this.$auth.getAuthenticatedUser())
                this.$http.get('api/tasksByType/'+ typeID + '/' + this.$auth.getAuthenticatedUser())
                    .then(function (response) {
                        this.tasks = response.body;
                        console.log(response);
                        EventBus.$emit('gotTasksByType', response.body);
                    });
            }
        }
    }
</script>

<style scoped>
    hr {
        background: white;
        margin: 0.2em;
    }
    #sidebar-wrapper {
        top: 56px;
        left: -200px;
        width: 200px;
        background-color: #5677fc;
        color: white;
        position: fixed;
        height: 100%;
        z-index: 1;
    }
    .sidebar-nav {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        width: 200px;
        list-style: none;
    }
    .sidebar-nav li {
        text-indent: 20px;
        line-height: 35px;
    }
    .sidebar-nav li a {
        color: white;
        display: block;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }
    .sidebar-nav li a:hover {
        background: rgba(255,255,255,0.25);
        color: white;
        text-decoration: none;
    }
    .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
    }
    #sidebar-wrapper.sidebar-toggle {
        transition: all 0.3s ease-out;
        margin-left: -200px;
    }
    .sidebar-header {
        color: navajowhite;
        font-size: 13px;
        margin-left: 2px;
    }
    @media (min-width: 768px) {
        #sidebar-wrapper.sidebar-toggle {
            transition: 0s;
            left: 200px;
        }
    }
</style>