<template>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <input v-model="email" class="form-control" type="email" placeholder="Email"/>
                    </div> <div class="form-group">
                    <input v-model="password" class="form-control" type="password" placeholder="Password"/>
                </div>
                    <router-link to="/register"><a>If you don't have an account, register</a></router-link>
                    <button class="btn btn-primary float-right" @click="login">Login</button>
                </div>
            </div>
        </div>
    </div>﻿
</template>

<script>
    import router from "../../routes";

    export default {
        name: "Login",
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            login() {
                var data = {
                    client_id: 2,
                    client_secret: 'YjFzY9RHNbFOVjWMbhIxu7XuVEsGlCzP5SZ7Ada4',
                    grant_type: 'password',
                    username: this.email,
                    password: this.password
                }
                this.$http.post("oauth/token", data)
                    .then(function (response) {
                        this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now())
                        this.setAuthenticatedUser()
                    })
                    .catch(function (error) {
                        alert(error.body.message)
                    })
            },
            setAuthenticatedUser() {
                console.log(this.$auth.getToken())
                this.$http.get('api/user')
                    .then(function (response) {
                        console.log(response.body.id)
                        this.$auth.setAuthenticatedUser(response.body.id)
                        this.$router.push("/home");
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
    .row {
        margin-top: 5%;
    }

</style>