<template>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <input v-model="userData.name" class="form-control" type="text" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <input v-model="userData.email" class="form-control" type="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input v-model="userData.password" class="form-control" type="password" placeholder="Password"/>
                    </div>
                    <router-link to="/login"><a>Login</a></router-link>
                    <button class="btn btn-primary float-right" @click.prevent="register">Register</button>
                </div>
            </div>
        </div>
    </div>﻿
</template>

<script>
    export default {
        name: "Registration",
        data () {
            return {
                userData: {
                    name: '',
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            register () {
                this.$http.post('api/register', this.userData)
                    .then( function (response) {
                        console.log(response)
                        alert("User created")
                        this.$router.push("/login");
                    })
                    .catch(function (error) {
                       if (error.body.message.includes('Duplicate entry')){
                            alert("This email already exists")
                            return;
                       }
                       alert("Error occurred")
                    })
            }
        }
    }
</script>


<style scoped>
    .row {
        margin-top: 10%;
    }

</style>